<!DOCTYPE html>
<html>
    <head>
        <title>YELP CAMP</title>
        <link rel="stylesheet" type="text/css" href="/app.css">
        <link rel="stylesheet" type="text/css" href="/login.css">
        <link rel="stylesheet" type="text/css" href="/home.css">
        <link rel="stylesheet" type="text/css" href="/blogs.css">
    </head>
    <body>
        <div class="cH">
            <div class="leftPane">
                <a href="/"><img src="/final.png" class="logo"></a>
                <a href="/"><h1 class="SiteName">Fernweh.</h1></a>
                <!-- <a class="Left" href="/campgrounds">All campgrounds</a> -->
            </div>
            <div class="RightPane">
                <% if(!currentUser){ %>
                    <a class="LeftLogin" href="/campgrounds/new">Write a blog</a>
                    <a class="LeftLogin" href="/campgrounds">Explore</a>
                    <a class="LeftLogin" href="/login">Login</a>
                    <a class="Left" href="/register">Register</a>
                    <% }else{ %>
                    <a class="LeftLogin" href="/campgrounds/new">Write a blog</a>
                    <a class="LeftLogin" href="/campgrounds">Explore</a>
                    <a class="Left" href="/logout">Logout</a>
                <% } %>
            </div>
        </div>  