<%- include ("../partials/header") %>
    
<h4>Enter new campground Name and Image source</h4>
    <form action="/campgrounds" method="POST">
        <input type="text" name="name" placeholder="name">
        <input type="url" placeholder="image url" name="imgURL">
        <button>Submit!</button>
    </form>

<%- include ("../partials/footer") %>