@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&family=Raleway:wght@600&display=swap');
a{
    text-decoration: none;
    outline: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
.SiteName{
    font-weight: 700;
    color: black;
    font-family: 'Gowun Batang', serif;
}
img{
    height: 243px;
    width: auto;
}
.logo{
    height: 60px;
}
h4{
    text-align: center;
    text-transform: uppercase;
}
.cH{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .5% 10%;
    padding-left: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.cH .leftPane{
    display: flex;
    align-items: center;
    gap: 10px;
}
body{
    margin-top: 0;
}
.new{
    text-decoration: none;
    border-radius: 2px;
    padding: 4px 6px;
    color: black;
    background-color: #7474df;
}
.test{
    margin: 100px;
}
.cH .Left{
    color: white;
    align-items: center;
    background-color: #E88445;
    padding: 10px 12px;
    border-radius: 5px;
    border: none;
}
.cH .RightPane{
    gap: 25px;
    display: flex;
    align-items: center;
    
}
.LeftLogin{
    color: black;
    font-size: 20px;
}
.Footer{
    /* position: fixed; */
    /* width: 100vw; */
    height: 40px;
    margin-top: 10%;
    bottom: 0;
    background-color: black;
    color: white;
    padding: 4%;
}