<%- include ("../partials/header") %>   
    <h1 class="H1Text">Sign-In Form</h1>
<form action="/login" method="POST" class="Label">
    <input type="text" placeholder="Username" name="username" class="loginText">
    <input type="password" placeholder="password" name="password" class="passText">
    <button class="loginButton">Sign-in</button>
</form>