<%- include ("../partials/header") %>  
        <h1 class="H1Text">Sign-Up Form</h1>
<form action="/register" method="POST" class="Label">
    <input type="text" placeholder="Username" name="username" class="loginText">
    <input type="password" placeholder="password" name="password" class="passText">
    <button class="loginButton">Sign-up</button>
</form>
<%- include ("../partials/footer") %>
